<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>circle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{214,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,203}}</string>
                <key>sourceSize</key>
                <string>{214,203}</string>
            </dict>
            <key>circle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,0},{214,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,203}}</string>
                <key>sourceSize</key>
                <string>{214,203}</string>
            </dict>
            <key>circle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,0},{214,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,203}}</string>
                <key>sourceSize</key>
                <string>{214,203}</string>
            </dict>
            <key>circle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,0},{214,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,203}}</string>
                <key>sourceSize</key>
                <string>{214,203}</string>
            </dict>
            <key>circle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,0},{214,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,203}}</string>
                <key>sourceSize</key>
                <string>{214,203}</string>
            </dict>
            <key>circle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,0},{214,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,203}}</string>
                <key>sourceSize</key>
                <string>{214,203}</string>
            </dict>
            <key>circle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,0},{214,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,203}}</string>
                <key>sourceSize</key>
                <string>{214,203}</string>
            </dict>
            <key>circle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,0},{214,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,203}}</string>
                <key>sourceSize</key>
                <string>{214,203}</string>
            </dict>
            <key>cmouth1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,0},{35,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,21}}</string>
                <key>sourceSize</key>
                <string>{35,21}</string>
            </dict>
            <key>cmouth2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,0},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,24}}</string>
                <key>sourceSize</key>
                <string>{52,24}</string>
            </dict>
            <key>eyes_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1799,0},{86,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,49}}</string>
                <key>sourceSize</key>
                <string>{86,49}</string>
            </dict>
            <key>eyes_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,203},{77,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,44}}</string>
                <key>sourceSize</key>
                <string>{77,44}</string>
            </dict>
            <key>eyes_3 - 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,203},{86,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,49}}</string>
                <key>sourceSize</key>
                <string>{86,49}</string>
            </dict>
            <key>kingstone_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,203},{229,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,204}}</string>
                <key>sourceSize</key>
                <string>{229,204}</string>
            </dict>
            <key>kingstone_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,203},{229,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,204}}</string>
                <key>sourceSize</key>
                <string>{229,204}</string>
            </dict>
            <key>kingstone_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,203},{229,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,204}}</string>
                <key>sourceSize</key>
                <string>{229,204}</string>
            </dict>
            <key>kingstone_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,203},{229,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,204}}</string>
                <key>sourceSize</key>
                <string>{229,204}</string>
            </dict>
            <key>kingstone_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,203},{229,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,204}}</string>
                <key>sourceSize</key>
                <string>{229,204}</string>
            </dict>
            <key>kingstone_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,203},{229,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,204}}</string>
                <key>sourceSize</key>
                <string>{229,204}</string>
            </dict>
            <key>kingstone_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,203},{229,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,204}}</string>
                <key>sourceSize</key>
                <string>{229,204}</string>
            </dict>
            <key>kingstone_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,407},{229,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,204}}</string>
                <key>sourceSize</key>
                <string>{229,204}</string>
            </dict>
            <key>triangle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,407},{209,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,224}}</string>
                <key>sourceSize</key>
                <string>{209,224}</string>
            </dict>
            <key>triangle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,407},{209,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,224}}</string>
                <key>sourceSize</key>
                <string>{209,224}</string>
            </dict>
            <key>triangle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,407},{209,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,224}}</string>
                <key>sourceSize</key>
                <string>{209,224}</string>
            </dict>
            <key>triangle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,407},{209,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,224}}</string>
                <key>sourceSize</key>
                <string>{209,224}</string>
            </dict>
            <key>triangle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,407},{209,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,224}}</string>
                <key>sourceSize</key>
                <string>{209,224}</string>
            </dict>
            <key>triangle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,407},{209,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,224}}</string>
                <key>sourceSize</key>
                <string>{209,224}</string>
            </dict>
            <key>triangle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,407},{209,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,224}}</string>
                <key>sourceSize</key>
                <string>{209,224}</string>
            </dict>
            <key>triangle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,407},{209,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,224}}</string>
                <key>sourceSize</key>
                <string>{209,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>runner.png</string>
            <key>size</key>
            <string>{1901,631}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:132c9e175a75eecf96f62003d2dd8831:fda89a0b417ed698cf0bd3e2f13e65f1:40baca46467203badeafdde32c8bb385$</string>
            <key>textureFileName</key>
            <string>runner.png</string>
        </dict>
    </dict>
</plist>
